
	body {
		background-attachment:fixed;
		 background-size:100%;
		 background-repeat:no-repeat;
	}
	#FacaOcadastro {
		 background-image: url("CadastrarBackground.jpg");
		 height: 500px;
		 width: 100%;
		 background-repeat:no-repeat;
		 background-attachment:fixed;
		 margin-top: -200px;
	}	
	#titulo{
		font-family:helvetica;
		color:;	
		text-align:center;
	}
	#forum{
	   border-radius:px;
	   padding:15px;
	   font-size:15px;
	   color:#999;
	   margin:0 auto; 
	   width:300px;
	}
	input,textarea{
	
	   padding:10px;
	   width:270px;
	}
	.form-group{
	   color: black;
}	
