<html> 
	<head>
		<title>Materiais</title>
		<link rel="stylesheet" type="text/css" href="{{url_for ('static',filename='css/styleassunto.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link text-success" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-success" href="/cadastro">
						Cadastro			
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-success" href="/login">
						Login
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link text-success dropdown-toggle" href="/materiais" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Materiais
					</a>
					<div class="dropdown-menu text-success" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">1° ano</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link text-success" href="/contato">
						Contato
					</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2 border-dark" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
			</form>
		</div>
	</nav></br></br></br></br></br>	
	<header> BIOLOGIA </header>	
	<div class="conteudo"> </br> </br>
	<h1> Composição Química </h1>

		<p>A matéria que constituí os seres vivos é chamada matéria viva. Assim os elementos químicos que se encontram na matéria viva são denominados bioelementos, e as moléculas que formam a matéria viva recebem o nome de biomoléculas. </p>

	<h1>Os bioelementos</h1>
		
		<p>Nos seres vivos há cerca de vinte elementos químicos. Sendo os mais abundantes: oxigênio (O), hidrogênio (H), carbono (C), nitrogênio (N), cálcio (Ca), fósforo (P), enxofre (S), magnésio (Mg), cloro (Cl), potássio (K) e sódio (Na), são eles os quatro primeiros majoritários na matéria viva.</p>

	<h1>Biomoléculas</h1>
		
		<p>As biomoléculas podem ser inorgânicas ou orgânicas. A água e os sais minerais são biomoléculas inorgânicas. As biomoléculas orgânicas são os glicídios (açúcares), os lipídios (gorduras), as proteínas e os ácidos nucleicos,o DNA e RNA.</p>
		<p>As biomoléculas inorgânicas são comuns a toda a matéria, tanto viva como inerte, ao passo que as orgânicas são mais abundantes na matéria viva. Nas biomoléculas orgânicas, é muito frequente a polimerização, ou seja, o fato de determinadas moléculas se unirem entre si, formando uma macromolécula. As unidades são chamadas monômeros e a molécula resultante, polímero. As macromoléculas biológicas são realmente grandes se comparadas às moléculas inorgânicas.</p>

	<h1>Biomoléculas Inorgânicas:</br></br>
	<h2>ÁGUA</h2>
		<p>A água é fundamental para os seres vivos. Ela é utilizada como meio para as reações químicas (nela estão dissolvidas muitas substâncias), além disso transporta substâncias, dá forma às células, amortece articulações e regula a temperatura do corpo </p>



	<h2>SAIS MINERAIS</h2>
		<p>Formam as partes duras dos seres vivos: as conchas dos moluscos (carbonato de cálcio) e os esqueletos dos vertebrados (fosfato de cálcio). Outros intervém em reações químicas, mantêm a salinidade do organismo (cloreto de sódio e potássio), também pode interferir na transmissão do impulso nervoso ou formar parte de moléculas importantes, como a hemoglobina do sangue. </p>



<h1>Biomoléculas Orgânicas:</h1>
   </br>
	<h2>GLICÍDIOS</h2>
		<p>São biomoléculas compostas de carbono, hidrogênio e oxigênio, com função energética, como “combustíveis” para os seres vivos, e estrutural, formando partes dos seres vivos. Os mais conhecidos são a glicose (açúcar do mel) e a sacarose (açúcar da cana), que são energéticos; o amido, que serve como reserva de energia nas plantas; e a celulose, que forma as paredes das células vegetais. </p>

	<h2>LIPÍDIOS</h2>
		<p>São formados por carbono, hidrogênio, oxigênio e outros elementos, como o fósforo. Sua função é energética e estrutural. São muito diversificados e desempenham várias funções no organismo. As gorduras servem como reserva de energia. Os fosfolipídios e o colesterol formam partes das membranas celulares.</p> 



	<h2>PROTEÍNAS</h2>
		<p>Formadas por carbono, hidrogênio, oxigênio, nitrogênio e outros elementos, são polímeros de biomoléculas menores, os aminoácidos. Aborda funções bem variadas: o colágeno da pele tem função estrutural, a hemoglobina do sangue transporta oxigênio, os anticorpos intervém na defesa contra infecções e as enzimas regulam as reações químicas nas células.</p>


	<h2>ÁCIDOS NUCLEICOS</h2>
		<p>Formados por carbono, hidrogênio, oxigênio, nitrogênio e fósforo, são biomoléculas constituídas por longas cadeias de moléculas menores, chamadas nucleotídios. Há dois tipos de ácidos nucleicos: o ácido desoxirribonucleico (DNA) e o ácido ribonucleico (RNA). O DNA carrega a informação genética que tem codificadas várias das características de um ser vivo.</p>
