<html>

	<head>
		<title>Cadastro</title>  <!-- -->
		<meta charset="UTF-8">
	
		<link rel="stylesheet" type="text/css" href="{{url_for ('static',filename='css/stylecadastro.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content ="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link text-success" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-success" href="/cadastro">
			Cadastro
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-success" href="/login">
				Login
			</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link text-success dropdown-toggle" href="/materiais" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Materiais
				</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
			</li>
			<li class="nav-item">
			<a class="nav-link text-success" href="/contato">
		  Contato
			</a>
			</li>
			</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2 border-dark" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
		</form>
		</div>
		</nav>

		</br></br></br>
		<img src="{{url_for('static', filename='images/home/CadastrarBackground.jpg')}}"  id="FacaOcadastro">
		<div id="BackgroundCadastro">
		<form id="forum">
			<br></br></br></br>
		 <form method="POST">
    {{formulario.hidden_tag()}}
    {{formulario.name.label}}:  {{formulario.name}}
	{{formulario.hidden_tag()}}
    {{formulario.email.label}}:  {{formulario.email}}
	{{formulario.hidden_tag()}}
    {{formulario.senha.label}}:  {{formulario.senha}}
	{{formulario.hidden_tag()}}
    {{formulario.confirm.label}}:  {{formulario.confirm}}
	</br>
	<button class ="btn-large waves-effect waves-dark" style="width:100%" type="submit" onclick="return validar()">Cadastrar</button>
    <br>  
</form>  

		</div>
	</body>
</html>